# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
frontend/.env.local
backend/.env

# Build files
frontend/build/
frontend/dist/
backend/logs/
backend/uploads/

backend/src/utils/seed.js
